*{
	margin:0px;
	padding:0px;
}
body::-webkit-scrollbar {
  display: none;
}
body{
  overflow-y: hidden;
}
#canvas{
	position: fixed;
}
.catImg{
	position: fixed;
	bottom: 0px;
	background-image: url('../img/cat.png');
	background-size: 100% 100%;
	width: 37px;
	height: 48px;
	left:46%;
	-webkit-transition: left 1s ease;
    -moz-transition: left 1s ease;
    -ms-transition: left 1s ease;
    -o-transition: left 1s ease;
    transition: left 1s ease;
    -webkit-transform: translate3d(0, 0, 0); 
	-moz-transform: translate3d(0, 0, 0); 
	-ms-transform: translate3d(0, 0, 0); 
	transform: translate3d(0, 0, 0); 
	z-index: 100;
}