*{
	margin:0px;
	padding:0px;
}
body::-webkit-scrollbar {
  display: none;
}
body{
  overflow-y: hidden;
}
.catImg{
	position: fixed;
	bottom: 0px;
	background-image: url('../img/cat.png');
	background-size: 100% 100%;
	width: 37px;
	height: 48px;
	left:46%;
	-webkit-transition: left 1.5s ease;
    -moz-transition: left 1.5s ease;
    -ms-transition: left 1.5s ease;
    -o-transition: left 1.5s ease;
    transition: left 1.5s ease;
	z-index: 100;
}